.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: rgb(201, 241, 201);
    z-index: 1;

}

.box > botton{
    background-color: rgb(217, 232, 203);
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(122, 147, 98);
    color: black;
}

.box > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.box__info {
    height: 100px;
    margin-bottom: px;
}

.box__minprice,
.box__maxprice {
    display: inline-block;
}
.box__maxprice{
    margin-left: 0px;
}

.box_location {
    margin-top: px;
}