/* ParentComponent.css */
.parentComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribute items along the main axis */
}

.leftSide, .rightSide {
  padding: 20px;
}

.leftSide {
  flex: 1; /* Take up remaining space */
}

.rightSide {
  flex: 1; /* Take up remaining space */
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.switch_button
 {
  margin-left: 10px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  
  margin-bottom: 5px;
}

.switch_button {
  background-color: #4CAF50;
  color: white;
}

.switch_button:hover {
  background-color: #45a049;
}

.remove_button
  {
    margin-left: 5px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .remove_button {
    background-color: #4CAF50;
    color: white;
  }
  
  .remove_button:hover {
    background-color: #45a049;
  }

