.parentComponent {
  display: flex;
  flex-wrap: wrap; 
}

.userBoxContainer {
  width: 50%; 
  padding: 10px;
  box-sizing: border-box;
}

.userBox {
  width: 100%; 
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.subBoxesContainer {
  width: 50%; 
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.subBox {
  width: 250px;
  height: auto;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
}