.boxesD {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 15px;
    
}

.box2 {
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: visible;
    width: 250px;
    min-height: 200px;
    background-color: rgb(201, 241, 201);
    margin-right:50px ;

}

.box2 img {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
}

.boxDetail_ {
    padding: 15px;
}

.boxDetail_ h3 {
    margin-top: 0;
}

.boxDetail_ p {
    margin: 10px 0;
}

.boxDetail_ input[type="text"],
.boxDetail_ input[type="number"] {
    width: calc(100% - 20px);
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.boxDetail_ button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.boxDetail_ button:hover {
    background-color: #0056b3;
}

.box img {
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid #ccc;
}
.userbd__image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    object-fit: cover; /* Ensure the image covers the entire container */
    z-index: -1;
  }